.nav-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(
    68deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(14, 25, 223, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #fff;
  padding: 0;
  margin: 0;
}

.nav-bar p {
  font-size: 2rem;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  color: #0e19df;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  min-height: 35vh;
}

.lower-container {
  display: flex;
  gap: 4em;
  z-index: 5;
  padding-bottom: 1em;
}

.main-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../assets/ball.jpg);
  background-size: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.leagues-logos {
  padding-left: 1em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto;
  z-index: 3;
}

.total {
  z-index: 3;
  color: rgb(65, 3, 3);
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 15%;
  max-width: 5em;
}

.main-icon {
  justify-self: flex-end;
  align-self: center;
  margin-right: 1em;
  width: 25px;
  height: 25px;
  color: #fff;
  border: none;
  z-index: 4;
  opacity: 1;
}

.chevron {
  color: rgb(34, 34, 34);
  opacity: 0;
  cursor: pointer;
}

.logo-img {
  width: 25px;
  height: 25px;
}
