.leagues {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #13bdba;
}

.league {
  display: flex;
  padding: 0.2em;
  min-height: 10em;
}

.league:nth-child(4n + 2) {
  background-color: #0e19df;
}

.league:nth-child(4n + 3) {
  background-color: #0e19df;
}

.upper-league {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.league-name {
  align-self: flex-end;
  color: rgb(0, 0, 0);
  margin: 0.5em 0;
  min-width: 4em;
  font-size: 1.1rem;
}

.image {
  max-width: 90%;
}

.league-btn {
  border: none;
  cursor: pointer;
}

h2 {
  color: #fff;
  background-color: #0e19df;
  margin: 0;
  font-size: 1.1rem;
  padding: 1rem;
}
